.popup__content {
    grid-area: content;
    background-color: white;
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0;
    padding: 34px 36px 37px;
    overflow: scroll;
}