.profile__edit-btn {
    grid-area: edit;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: black;
    align-self: end;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M10 1.32827L2.60377 8.7666L1.28302 7.41936L8.66038 0L10 1.32827ZM0 10L1.96226 9.41177L0.584906 8.08349L0 10Z" fill="white"/>  </svg>');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 8px 16px;
    padding: 0;
    cursor: pointer;
}

.profile__edit-btn:hover {
    opacity: .6;
}

@media screen and (max-width: 780px) {
    .profile__edit-btn {
        margin: auto auto 8px 10px;
    }
}